* {
    font-family: 'Roboto', sans-serif;
    margin: 0px; /*delets margins on the right and on the left*/
       
}


$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color:  #99E2D0;
$background-color: #F6F6F6;
$footer-color: #353535;
$icon-color: #7E7E7E;


    .image-container {
        width: 100%;
        height: 63px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 14px 0px 0px 0px;
        margin: 0px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        box-sizing: border-box;
        position: relative;
        /*z-index: 2;*/
        

        img {
            width: 100%;
            height: 30px;
            box-sizing: border-box;
        }
    }

    .location{
        width: 100%;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background: rgba(234, 234, 234, 1);
       /* position: absolute;*/
        box-sizing: border-box;
        /*z-index: 1;*/
    

            .paris {
            text-decoration: none;
            color: #353535;
            font-size: 14px;
            font-weight: 500;

                .fa-location-dot {
                    font-size: x-small;
                    margin-right: 10px;
                }
         }
    }

    .headline {
        width: 100%;
        display: flex;
        padding: 30px 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        background: $background-color;
        text-align: center;
        
        &__title {
            font-size: 24px;
            font-weight: 700;
        }
    
        &__subtitle {
            margin-top: 10px;
            font-size: 18px;
            font-weight: 300;
        }

        .explore-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60%;
            height: 45px;
            border: none;
            outline: none;
            border-radius: 25px;
            margin-top: 20px;
            color: white;
            font-size: 16px;
            font-weight: 500;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
            /*background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);*/
            background: linear-gradient(5deg, #9356DC -11.44%, #FF79DA 123.93%);
            box-sizing: border-box;
        }

    }

    .functioning {

        display: flex;
        flex-direction: column;
        justify-content: center;

        &__steps {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__title {
            font-size: 24px;
            font-weight: 700;
            padding: 40px 0px 30px 20px;
        }

    &__steps p {
        font-size: 16px;
        font-weight: 500;
    }

    .functioning__steps i {
        color: $icon-color;
        padding-right: 15px;
    }

    &__first-step, &__second-step, &__third-step {
        width: 80%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        margin-bottom: 20px;
        background: #F6F6F6;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        position: relative;

    }

    .functioning__first-step::before {
        content: '1';
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        background:  $primary-color;
        border: 1px solid $primary-color;
        font-size: 14px;
        font-weight: 500; 
        border-radius: 50%;
        box-sizing: border-box;
        left: -10px;
    }

    .functioning__second-step::before {
        content: '2';
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        background:  $primary-color;
        border: 1px solid $primary-color;
        font-size: 14px;
        font-weight: 500; 
        border-radius: 50%;
        box-sizing: border-box;
        left: -10px;
    }

    .functioning__third-step::before {
        content: '3';
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        background:  $primary-color;
        border: 1px solid $primary-color;
        font-size: 14px;
        font-weight: 500; 
        border-radius: 50%;
        box-sizing: border-box;
        left: -10px;
    }

}



