* {
    font-family: 'Roboto', sans-serif;
    margin: 0px; /*delets margins on the right and on the left*/
       
}

html, body {
    background:$color-red;  
}

p {

}

ul, ol {
 margin:0;
 padding:0;
}

a {

}