$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$background-color: #f6f6f6;
$footer-color: #353535;
$icon-color: #7e7e7e;
$button-gradient: linear-gradient(-10deg, #9356dc -11.44%, #ff79da 123.93%);

* {
  font-family: "Roboto", sans-serif;
  margin: 0px; /*delets margins on the right and on the left*/
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image-container {
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 0 0 0;
  margin: 0px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  position: relative;
  /*z-index: 2;*/

  img {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
  }
}

.location {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(234, 234, 234, 1);
  position: relative;
  box-sizing: border-box;

  &__content {
   display: flex;
   align-items: center;
   justify-content: center;
    
  }

  .fa-location-dot {
    font-size: small;
    margin-right: 15px;
    color: #353535;
  }

  &__name {
    width: 55%;
    border: none;
    outline: none;
    color: #353535;
    font-size: 16px;
    font-weight: 500;
    background: none;
    padding: 0;
  }
}

.headline {
  width: 100%;
  display: flex;
  padding: 30px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: $background-color;
  text-align: center;

  &__title {
    font-size: 24px;
    font-weight: 700;
  }

  &__subtitle {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 300;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  &__title--space,
  &__subtitle--space {
    display: block;
  }

  .explore-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 218px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 25px;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    background: $button-gradient;
    transition: box-shadow 0.8s ease, background 0.8s ease;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 25px;
      position: absolute;
      opacity: 0;
      box-sizing: border-box;
      z-index: 999;
      background: rgba(255, 255, 255, 0.15);
      transition: 0.8s ease;
    }

    &:hover {
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
      background:
        linear-gradient(-10deg, #9356dc -5.2%, #ff79da 110.74%);

      &::before {
        opacity: 1;
        background: rgba(255, 255, 255, 0.15);
      }
    }
  }
}

.functioning {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

  &__title {
    font-size: 24px;
    font-weight: 700;
    padding: 40px 0px 30px 20px;
  }

  &__steps {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__steps p {
    font-size: 16px;
    font-weight: 500;
    right: 10px;
  }

  #store-icon {
    color: $primary-color;
  }

  .functioning__steps i {
    color: $icon-color;
    padding-right: 15px;
    padding-left: 30px;
  }

  &__first-step,
  &__second-step,
  &__third-step {
    width: calc(100% - 52px);
    height: 72px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    background: #f6f6f6;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    position: relative;
  }

  .functioning__first-step::before {
    content: "1";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    color: white;
    background: $primary-color;
    border: 1px solid $primary-color;
    font-size: 14px;
    font-weight: 500;
    border-radius: 50%;
    box-sizing: border-box;
    left: -15px;
  }

  .functioning__second-step::before {
    content: "2";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    color: white;
    background: $primary-color;
    border: 1px solid $primary-color;
    font-size: 14px;
    font-weight: 500;
    border-radius: 50%;
    box-sizing: border-box;
    left: -15px;
  }

  .functioning__third-step::before {
    content: "3";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    color: white;
    background: $primary-color;
    border: 1px solid $primary-color;
    font-size: 14px;
    font-weight: 500;
    border-radius: 50%;
    box-sizing: border-box;
    left: -15px;
  }
}

.restaurants {
  background: $background-color;
  width: 100%;
  margin: 50px 0px 0px 0px;
  padding-bottom: 60px;

  &__title {
    font-size: 24px;
    font-weight: 700;
    padding: 50px 0px 10px 20px;
  }
}
.restaurants__cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;

  .card {
    width: 90%;
    height: 280px;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 15px;
    box-sizing: border-box;
    margin: 10px 0px 10px 0px;
    position: relative;

    &__link {
      text-decoration: none;
    }

    .tag {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2px;
      width: 80px;
      height: 29px;
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 14px;
      font-weight: 500;
      background: $tertiary-color;
      color: #008766;
    }

    .img-container {
      overflow: hidden;
    }

    .card-content {
      display: flex;
      flex-direction: row;

      .card-txt {
        padding: 15px;
        position: relative;
        color: black;

        &__title {
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 5px;
        }

        &__subtitle {
          font-size: 17px;
          font-weight: 300;
        }
      }

      .card-like img {
        width: 22px;
        height: 21px;
        display: flex;
        align-items: center;
        position: absolute;
        color: black;
        right: 30px;
        bottom: 30px;
        font-size: larger;
      }
    }
    .card-like {
      width: 23px;
      height: 21px;
      display: flex;
      align-items: center;
      position: absolute;
      color: black;
      right: 30px;
      bottom: 30px;
      cursor: pointer;
    }

    .card-like path {
      fill: transparent;
      stroke-width: 2px;
      stroke: black;
      transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
    }

    .hidden-checkbox {
      display: none;
    }

    .hidden-checkbox:checked + .card-like path {
      fill: url(#like-gradient);
      stroke: url(#like-gradient);
    }

    #heartCheckbox-2:checked + .card-like path {
      fill: url(#like-gradient-2);
      stroke: url(#like-gradient-2);
    }
    #heartCheckbox-3:checked + .card-like path {
      fill: url(#like-gradient-3);
      stroke: url(#like-gradient-3);
    }
    #heartCheckbox-4:checked + .card-like path {
      fill: url(#like-gradient-4);
      stroke: url(#like-gradient-4);
    }
  }

  .img-container img {
    width: 100%;
    height: 200px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
    box-sizing: border-box;
    object-position: 20% 60%;
  }
}

.footer {
  background: $footer-color;

  a {
    text-decoration: none;
    color: white;
  }

  &__list {
    text-decoration: none;
    list-style: none;
    padding: 0px 0px 20px 20px;
    font-size: 16px;
    font-weight: 500;

    li {
      padding-bottom: 10px;
    }

    .fa-utensils {
      margin-right: 10px;
      font-size: x-small;
    }
    .fa-handshake-angle {
      margin-right: 9px;
      font-size: xx-small;
    }
  }

  .mentions,
  .contact li {
    text-decoration: none;
    color: white;
    font-weight: 400;
  }

  .footer-logo h3 {
    font-size: 22px;
    font-weight: 400;
    font-family: "Shrikhand";
    color: white;
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .headline {
    &__title {
      font-size: 40px;
      margin-bottom: 10px;
    }

    &__title--space,
    &__subtitle--space {
      display: inline;
    }

    .explore-button {
      width: 218px;
      height: 50px;
      margin-top: 30px;
    }

  }

  .functioning {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;

    &__title {
      display: flex;
      margin: 0;
      padding: 40px 0 30px 150px;
    }
    &__steps {
      display: flex;
      flex-direction: row;
    }

    &__first-step,
    &__second-step,
    &__third-step {
      width: calc(80% / 3 - 30px);
      height: 73px;
      display: flex;
      justify-content: flex-start;
      margin: 20px;
      box-sizing: border-box;
    }
  }

  .restaurants {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__title {
      margin: 0;
      padding: 40px 0 30px 130px;
    }
    &__cards {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      box-sizing: border-box;

      .card {
        width: calc(80% / 2 - 20px);
        box-sizing: border-box;
        margin: 0 40px 20px;
      }
    }
  }

  .footer {
    width: 100%;
    height: 114px;

    &__content {
      width: 90%;
      height: 50px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-start;
      padding: 50px 30px 0 0;
    }

    .footer-logo h3 {
      padding: 0;
      font-size: 18px;
    }

    &__list {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;

      a {
        color: white;
      }

      li {
        margin-right: 20px;
        padding: 0;
      }

      .mentions {
        margin-left: 30px;
        font-weight: 400;
      }

      .contact {
        margin-right: 60px;
        font-weight: 400;
      }
    }
  }
}
