$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$background-color: #f6f6f6;
$footer-color: #353535;
$icon-color: #7e7e7e;
$icon-color-dark: #353535;
$button-gradient: linear-gradient(-10deg, #9356dc -11.44%, #ff79da 123.93%);

* {
  font-family: "Roboto", sans-serif;
  margin: 0px; /*delets margins on the right and on the left*/
}


/*LOADER*/
/*
.loader-background {
display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 50);
  z-index: 1000;
  animation: fadeOut 2s forwards 2s;
}

.lds-default {
  width: 80px;
  height: 80px;
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2000;
  transform: translate(-50%, -50%);
  animation: fadeOut 2s forwards 2s;
}

.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: $primary-color;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}


@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
*/
/*LOADER*/

/*CONTENT LOADING*/

/*.main-container {
  opacity: 0;
  visibility: hidden;
  animation: fadeIn 1s ease-in-out forwards;
}*/

@keyframes fadeIn {
  from {
    opacity: 0;
    
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



/*CONTENT LOADING*/


.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 1.3s ease-in-out forwards;

  &__arrow {
    position: absolute;
    left: 5px;
  }

  &__arrow {
    padding-left: 25px;
    font-size: large;
    color: $icon-color-dark;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    animation: fadeIn 1.5s ease-in-out forwards;

    .fa-arrow-left {
      color: #353535;
    }

    img {
      width: 100%;
      height: 30px;
      box-sizing: border-box;
    }
  }
}

.main-photo img {
  width: 100%;
  animation: fadeIn 1.5s ease-in-out forwards;
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -50px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background: $background-color;
  box-sizing: border-box;
  position: relative;
  

  &__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: fadeIn 1.5s ease-in-out forwards;
  }

  &__title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0 0 0;
    gap: 35px;
    box-sizing: border-box;

    h1 {
      font-size: 28px;
      font-family: Shrikhand;
      font-weight: 400;
    }

    &--like {
      .hidden-checkbox {
        display: none;

        &:checked + .card-like path {
          fill: url(#like-gradient);
          stroke: url(#like-gradient);
        }
      }

      .card-like {
        width: 25px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        path {
          fill: transparent;
          stroke-width: 2px;
          stroke: black;
          transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
        }
      }
  }
}

&__starters {
  animation: fadeIn 1.5s ease-in-out forwards;
  animation-delay: 1.5s;
}

&__dishes {
  animation: fadeIn 1.5s ease-in-out forwards;
  animation-delay: 2s;
}

&__desserts {
  animation: fadeIn 1.5s ease-in-out forwards;
  animation-delay: 2.5s;
}

  &__starters,
  &__dishes,
  &__desserts {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px 0 10px 0;
    opacity: 0;
  }
  &__subtitle {
    width: calc(100% - 10px);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;
    font-weight: 300;
    padding: 0 0 20px 0;
    margin-left: 10px;
    text-transform: uppercase;
    position: relative;
    box-sizing: border-box;
  }

  &__subtitle::after {
    content: "";
    width: 40px;
    height: 3px;
    display: flex;
    position: absolute;
    margin-top: 5px;
    top: 18px;
    background: $tertiary-color;
  }

  &__card {
    width: calc(100% - 20px);
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: white;
    border-radius: 15px;
    margin: 0 0 10px 0;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);

    &--content {
      width: 100%;
      padding: 12px 0 15px 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      box-sizing: border-box;
      z-index: 500;
      overflow: hidden;

      .card-text {
        /*width: calc(100% - 58px);*/
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
       

      .content-title {
        font-size: 18px;
        font-weight: 500;
        padding-bottom: 5px;
      }

      .content-subtitle {
        width: 280px;
        font-size: 15px;
        font-weight: 300;
        
        
      }

    }

    
    }
      

   .toto {
      width: 116px;
      height: 69px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: -80px;
      top: 0;
      box-sizing: border-box;
      transition: ease-in-out 0.5s;

      .content-price {
        width: 58px;
       /* height: 69px;*/
        font-size: 15px;
        font-weight: 700;
        position: absolute;
        right: 60px;
        top: 38px;
        transition: ease-in-out 0.5s;
      }
      

      .checked {
        width: 58px;
        height: 69px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 15px;
        background: $tertiary-color;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        transition: ease-in-out 0.5s;
      }

      .fa-circle-check {
        color: $background-color;
      }
    }
    .card-checked {
      width: 340px;
      height: 69px;
      position: absolute;
      z-index: 800;
    }
  }

  .hidden-checkbox {
    display: none;
  }

  .menu__card:hover .content-subtitle {
    max-width: 230px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
  }

  

  

  .menu__card:hover .toto {
    /*right: -22px;*/
    transform: translate(-58px, 0);
    
    
  }
  

  .hidden-checkbox:checked + .card-checked .checked {
    opacity: 1;
  }

  .hidden-checkbox:checked + .card-checked .content-subtitle {
    max-width: 230px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: max-width ease-in-out 0.3s;
  }

  .hidden-checkbox:checked + .card-checked .content-price {
    right: 70px;
  }

 
  .order-button {
    width: 186px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 25px;
    margin: 40px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    background: $button-gradient;
    box-sizing: border-box;
    transition: box-shadow 0.8s ease, background 0.8s ease;


    &::before {
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 25px;
      position: absolute;
      opacity: 0;
      box-sizing: border-box;
      z-index: 999;
      background: rgba(255, 255, 255, 0.15);
      transition: 0.8s ease;
    }

    &:hover {
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
      background:
        linear-gradient(-10deg, #9356dc -5.2%, #ff79da 110.74%);

      &::before {
        opacity: 1;
        background: rgba(255, 255, 255, 0.15);
      }
    }
  }
}

.footer {
  width: 100%;
  height: 186px;
  background: $footer-color;
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
  animation-delay: 1s;

  a {
    text-decoration: none;
    color: white;
  }

  &__list {
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    padding: 0 0 0 20px;

    li {
      padding-bottom: 10px;
      color: white;

      &:hover {
        text-decoration: underline;
      }
    }

    .fa-utensils {
      margin-right: 10px;
      font-size: x-small;
    }
    .fa-handshake-angle {
      margin-right: 9px;
      font-size: xx-small;
    }
  }

  .mentions,
  .contact li {
    text-decoration: none;
    color: white;
    font-weight: 400;
  }

  .footer-logo p {
    font-size: 18px;
    font-weight: 400;
    font-family: "Shrikhand";
    color: white;
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .header {
    width: 100%;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__arrow {
      position: absolute;
      left: 30px;
    }
  }

  .image-container {
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    object-fit: cover;
    box-sizing: border-box;

    .fa-arrow-left {
      color: #353535;
    }

    img {
      width: 100%;
      height: 34px;
      box-sizing: border-box;
    }
  }

  .main-photo {
    width: 100%;
    height: 380px;
    img {
      width: 100%;
      height: 380px;
      object-fit: cover;
    }
  }

  .menu {
    width: 70%;

    &__card {
      width: 634px;
    }

    &__title {
      width: 150%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 50px 0 0 0;
      gap: 35px;
      box-sizing: border-box;
    }

    &__content {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    &__starters,
    &__dishes,
    &__desserts {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin: 30px 0 10px 0;
    }

    &__subtitle {
      width: 150%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 16px;
      font-weight: 300;
      padding: 0 0 20px 10px;
      margin-left: 10px;
      text-transform: uppercase;
      position: relative;
    }

    &__card {
      width: calc(150% - 20px);
      height: 69px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      background: white;
      border-radius: 15px;
      margin: 0 0 10px 0;
      position: relative;
      cursor: pointer;
      overflow: hidden;
      box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
    }
  }

  .footer {
    width: 100%;
    height: 114px;

    &__content {
      width: 100%;
      height: 70px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-start;
      padding: 40px 30px 0 0;
      box-sizing: border-box;
      position: absolute;
      top: 20px;
    }

    .footer-logo h3 {
      padding: 0;
      font-size: 18px;
    }

    &__list {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;

      a {
        color: white;
      }

      li {
        margin-right: 10px;
        padding: 0;
      }

      .mentions {
        margin-left: 10px;
        font-weight: 400;
      }

      .contact {
        margin-right: 10px;
        font-weight: 400;
      }
    }
  }
}


@media (min-width: 1065px) {
  .header {
    width: 100%;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__arrow {
      position: absolute;
      left: 30px;
    }
  }

  .image-container {
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    object-fit: cover;
    box-sizing: border-box;

    .fa-arrow-left {
      color: #353535;
    }

    img {
      width: 100%;
      height: 34px;
      box-sizing: border-box;
    }
  }

  .main-photo {
    width: 100%;
    height: 380px;
    img {
      width: 100%;
      height: 380px;
      object-fit: cover;
    }
  }

  .menu {
    width: 70%;

    &__card {
      width: 634px;
    }

    &__title {
      width: 150%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 50px 0 0 0;
      gap: 35px;
      box-sizing: border-box;
    }

    &__content {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0;
    }

    &__starters,
    &__dishes,
    &__desserts {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin: 30px 0 10px 0;
    }

    &__subtitle {
      width: 150%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 16px;
      font-weight: 300;
      padding: 0 0 20px 10px;
      margin-left: 10px;
      text-transform: uppercase;
      position: relative;
    }

    &__card {
      width: calc(150% - 20px);
      height: 69px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      background: white;
      border-radius: 15px;
      margin: 0 0 10px 0;
      position: relative;
      cursor: pointer;
      overflow: hidden;
      box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
    }
  }

  .footer {
    width: 100%;
    height: 114px;
    position: relative;

    &__content {
      width: 100%;
      height: 70px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-start;
      padding: 40px 70px 0 0;
      box-sizing: border-box;
      position: absolute;
      top: 20px;
    }

    .footer-logo h3 {
      padding: 0;
      font-size: 18px;
    }

    &__list {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;

      a {
        color: white;
      }

      li {
        margin-right: 20px;
        padding: 0;
      }

      .mentions {
        margin-left: 30px;
        font-weight: 400;
      }

      .contact {
        margin-right: 60px;
        font-weight: 400;
      }
    }
  }
}
