$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$background-color: #f6f6f6;
$footer-color: #353535;
$icon-color: #7e7e7e;
$icon-color-dark: #353535;

* {
  font-family: "Roboto", sans-serif;
  margin: 0px; /*delets margins on the right and on the left*/
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__arrow {
    position: absolute;
    left: 5px;
  }

  &__arrow {
    padding-left: 25px;
    font-size: large;
    color: $icon-color-dark;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    .fa-arrow-left {
      color: #353535;
    }

    img {
      width: 100%;
      height: 30px;
      box-sizing: border-box;
    }
  }
}

.main-photo img {
  width: 100%;
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -50px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background: $background-color;
  box-sizing: border-box;
  position: relative;

  &__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 25px 0 0 15px;
    gap: 35px;
    box-sizing: border-box;

    h1 {
      font-size: 28px;
      font-family: Shrikhand;
      font-weight: 400;
    }

    &--like {
      .hidden-checkbox {
        display: none;

        &:checked + .card-like path {
          fill: url(#like-gradient);
          stroke: url(#like-gradient);
        }
      }

      .card-like {
        width: 25px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        path {
          fill: transparent;
          stroke-width: 2px;
          stroke: black;
          transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
        }
      }
  }
}

  &__starters,
  &__dishes,
  &__desserts {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 30px 0 10px 0;
  }
  &__subtitle {
    font-size: 16px;
    font-weight: 300;
    padding: 0 0 10px 10px;
    text-transform: uppercase;
    position: relative;
  }

  &__subtitle::after {
    content: "";
    width: 40px;
    height: 3px;
    display: flex;
    position: absolute;
    margin-top: 5px;
    background: $tertiary-color;
  }

  &__card {
    width: 340px;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: white;
    border-radius: 15px;
    margin: 0px 0 10px 0px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);

    &--content {
      width: 100%;
      padding: 12px 0 15px 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      box-sizing: border-box;
      z-index: 500;
      overflow: hidden;

      .card-text {
        width: calc(100% - 58px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
       

      .content-title {
        font-size: 18px;
        font-weight: 500;
        padding-bottom: 5px;
      }

      .content-subtitle {
        width: 278px;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        
      }

    }

    
    }
      

   .toto {
      width: 116px;
      height: 69px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: -80px;
      top: 0;
      box-sizing: border-box;
      transition: ease-in-out 0.5s;

      .content-price {
        width: 58px;
        height: 69px;
        font-size: 15px;
        font-weight: 700;
        position: absolute;
        right: 60px;
        top: 38px;
        transition: ease-in-out 0.5s;
      }
      

      .checked {
        width: 58px;
        height: 69px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 15px;
        background: $tertiary-color;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        transition: ease-in-out 0.5s;
      }

      .fa-circle-check {
        color: $background-color;
      }
    }
    .card-checked {
      width: 340px;
      height: 69px;
      position: absolute;
      z-index: 800;
    }
  }

  .hidden-checkbox {
    display: none;
  }

  .menu__card:hover .content-subtitle {
    max-width: 230px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
  }

  

  

  .menu__card:hover .toto {
    /*right: -22px;*/
    transform: translate(-58px, 0);
    
    
  }
  

  .hidden-checkbox:checked + .card-checked .checked {
    opacity: 1;
  }

  .hidden-checkbox:checked + .card-checked .content-subtitle {
    max-width: 230px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: max-width ease-in-out 0.3s;
  }

  .hidden-checkbox:checked + .card-checked .content-price {
    right: 70px;
  }

 
  .order-button {
    width: 186px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 25px;
    margin: 40px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(5deg, #9356dc -11.44%, #ff79da 123.93%);
    box-sizing: border-box;
  }
}

.footer {
  width: 100%;
  height: 186px;
  background: $footer-color;

  a {
    text-decoration: none;
    color: white;
  }

  &__list {
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    padding: 0 0 0 20px;

    li {
      padding-bottom: 10px;
    }

    .fa-utensils {
      margin-right: 10px;
      font-size: x-small;
    }
    .fa-handshake-angle {
      margin-right: 9px;
      font-size: xx-small;
    }
  }

  .mentions,
  .contact li {
    text-decoration: none;
    color: white;
    font-weight: 400;
  }

  .footer-logo p {
    font-size: 18px;
    font-weight: 400;
    font-family: "Shrikhand";
    color: white;
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .header {
    width: 100%;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__arrow {
      position: absolute;
      left: 30px;
    }
  }

  .image-container {
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    object-fit: cover;
    box-sizing: border-box;

    .fa-arrow-left {
      color: #353535;
    }

    img {
      width: 100%;
      height: 34px;
      box-sizing: border-box;
    }
  }

  .main-photo {
    width: 100%;
    height: 380px;
    img {
      width: 100%;
      height: 380px;
      object-fit: cover;
    }
  }

  .menu {
    width: 70%;

    &__card {
      width: 634px;
    }

    &__title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 50px 0 0 0;
      gap: 35px;
      box-sizing: border-box;
    }

    &__content {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    &__starters,
    &__dishes,
    &__desserts {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      position: relative;
      margin: 30px 0 10px 0;
      left: 20px;
    }
  }

  .footer {
    width: 100%;
    height: 114px;

    &__content {
      width: 100%;
      height: 50px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-start;
      padding: 80px 50px 0 0;
      box-sizing: border-box;
    }

    .footer-logo h3 {
      padding: 0;
      font-size: 18px;
    }

    &__list {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;

      a {
        color: white;
      }

      li {
        margin-right: 20px;
        padding: 0;
      }

      .mentions {
        margin-left: 30px;
        font-weight: 400;
      }

      .contact {
        margin-right: 60px;
        font-weight: 400;
      }
    }
  }
}
