
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color:  #99E2D0;
$background-color: #F6F6F6;
$footer-color: #353535;
$icon-color: #7E7E7E;
$icon-color-dark: #353535;

* {
    font-family: 'Roboto', sans-serif;
    margin: 0px; /*delets margins on the right and on the left*/
       
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


    .header {
        width: 100%;
        height: 63px;
        display: flex;
        align-items: center;
        justify-content: center;

        &__arrow {
            position: absolute;
            left: 5px;
        }

    &__arrow {
        padding-left: 25px;
        font-size: large;
        color: $icon-color-dark;
    }

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        
        
        .fa-arrow-left {
            color: #353535;
        }
    
        img {
            width: 100%;
            height: 30px;
            box-sizing: border-box;
        }
    }
}

.main-photo img {
    width: 100%;
    
}


.menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background: $background-color;
    box-sizing: border-box;
    position: relative;
    top: -50px;
    
    

    &__title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 25px 0 0 15px;
        gap: 35px;
        box-sizing: border-box;


        &--like img {
        width: 25px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-size: large;
    }
    
    h1 {
        font-size: 28px;
        font-family: Shrikhand;
        font-weight: 400;
    }

}

&__starters, &__dishes, &__desserts {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 30px 0 10px 0;
    
}
&__subtitle {
    font-size: 16px;
    font-weight: 300;
    padding: 0 0 10px 10px;
    text-transform: uppercase;
    position: relative;
}

&__subtitle::after {
    content: '';
    width: 40px;
    height: 3px;
    display: flex;
    position: absolute;
    margin-top: 5px;
    background: $tertiary-color;
    
}

&__card {
    width: 94%;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: white;
    border-radius: 15px;
    margin: 0px 0 10px 0px;
    position: relative;
    box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.10);


    &--content {
        width: 100%;
        padding: 12px 0 15px 12px;
        display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;

        .content-title {
          font-size: 18px;
          font-weight: 500; 
          padding-bottom: 5px; 
        }
    
        .content-subtitle {
           font-size: 15px;
           font-weight: 300; 
        }

        .content-price {
            font-size: 15px;
            font-weight: 700;
            position: absolute;
            right: 15px;
            bottom: 13px;
        }
    
    }
   
}

.order-button {
    width: 186px;
        height: 50px;
    display: flex;
    align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        border-radius: 25px;
        margin: 40px;
        color: white;
        font-size: 16px;
        font-weight: 500;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        background: linear-gradient(5deg, #9356DC -11.44%, #FF79DA 123.93%);
        box-sizing: border-box;
}

}

.footer {
    width: 100%;
    height: 186px;
    background: $footer-color;

    a {
        text-decoration: none;
        color: white;
    }

    &__list {
         text-decoration: none;
         list-style: none;
         font-size: 16px;
         font-weight: 500;
         padding: 0 0 0 20px;


         li {
            padding-bottom: 10px;
         }

         .fa-utensils {
            margin-right: 10px;
            font-size: x-small;
         }
         .fa-handshake-angle {
            margin-right: 9px;
            font-size: xx-small;
         }

     } 

     .mentions, .contact li {
        text-decoration: none;
        color: white;
        font-weight: 400;
    }

    
    .footer-logo p {
        font-size: 18px;
        font-weight: 400;
        font-family: 'Shrikhand';
        color: white;
        padding: 20px;
    }
}


@media (min-width: 768px) {

    .main-container {

        .header {
            width: 100%;
            height: 63px;
            display: flex;
            align-items: center;
            justify-content: center;

            &__arrow {
                position: absolute;
                left: 30px;
            }
        }
        

    .image-container {
        width: 100%;
        height: 380px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        object-fit: cover;
        box-sizing: border-box;
        
        
        .fa-arrow-left {
            color: #353535;
        }
    
        img {
            width: 100%;
            height: 34px;
            box-sizing: border-box;
        }
    }


    .main-photo {
        width: 100%;
        height: 380px;
    img {
        width: 100%;
        height: 380px;
        object-fit: cover;
    }
}

    .footer {

        width: 100%;
        height: 114px;
    
        &__content {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-start;
        padding: 80px 50px 0 0;
        box-sizing: border-box;
        }
    
        .footer-logo h3 {
            padding: 0;
            font-size: 18px;
        }
    
            &__list {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
    
                    a {
                        color: white;
                    }
                
                    li {
                        margin-right: 20px;
                        padding: 0;
                    }
    
                    .mentions {
                        margin-left: 30px;
                        font-weight: 400;
                    }
    
                    .contact {
                        margin-right: 60px;
                        font-weight: 400;
                    }
            }
    }
}
}