$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$background-color: #f6f6f6;
$footer-color: #353535;
$icon-color: #7e7e7e;
$icon-color-dark: #353535;
$button-gradient: linear-gradient(-10deg, #9356dc -11.44%, #ff79da 123.93%);