

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color:  #99E2D0;
$background-color: #F6F6F6;
$footer-color: #353535;
$icon-color: #7E7E7E;


.footer {
    background: $footer-color;

    a {
        text-decoration: none;
        color: white;
    }

    &__list {
         text-decoration: none;
         list-style: none;
         padding: 0px 0px 20px 20px;
         font-size: 16px;
         font-weight: 500;


         li {
            padding-bottom: 10px;
         }

         .fa-utensils {
            margin-right: 10px;
            font-size: x-small;
         }
         .fa-handshake-angle {
            margin-right: 9px;
            font-size: xx-small;
         }

     } 

     .mentions, .contact li {
        text-decoration: none;
        color: white;
        font-weight: 400;
    }

    
    .footer-logo h3 {
        font-size: 22px;
        font-weight: 400;
        font-family: 'Shrikhand';
        color: white;
        padding: 20px;
    }
       
}

@media (min-width: 768px)  {

.footer {
    background: $footer-color;

    width: 100%;
    height: 114px;

    &__content {
    width: 90%;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    padding: 50px 30px 0 0;
    }

    .footer-logo h3 {
        padding: 0;
        font-size: 18px;
    }

        &__list {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;

                a {
                    color: white;
                }
            
                li {
                    margin-right: 20px;
                    padding: 0;
                }

                .mentions {
                    margin-left: 30px;
                    font-weight: 400;
                }

                .contact {
                    margin-right: 60px;
                    font-weight: 400;
                }
        }
}
}