@import '../utils/variables';

.footer {
    width: 100%;
    height: 186px;
    background: $footer-color;
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
    animation-delay: 2s;
  
    a {
      text-decoration: none;
      color: white;
    }
  
    &__list {
      text-decoration: none;
      list-style: none;
      font-size: 16px;
      font-weight: 500;
      padding: 0 0 0 20px;
  
      li {
        padding-bottom: 10px;
        color: white;
  
        &:hover {
          text-decoration: underline;
        }
      }
  
      .fa-utensils {
        margin-right: 10px;
        font-size: x-small;
      }
      .fa-handshake-angle {
        margin-right: 9px;
        font-size: xx-small;
      }
    }
  
    .mentions,
    .contact li {
      text-decoration: none;
      color: white;
      font-weight: 400;
    }
  
    .footer-logo p {
      font-size: 18px;
      font-weight: 400;
      font-family: "Shrikhand";
      color: white;
      padding: 20px;
    }
  }
  
  @media (min-width: 368px) {
    .header {
      &__arrow {
        padding-left: 25px;
      }
    }
  
    .menu {
      h1 {
        font-size: 28px;
      }
  
      .card-like {
        width: 25px;
        height: 24px;
      }
  
      &__card {
        width: calc(100% - 20px);
  
        &--content {
          padding: 12px 0 12px 12px;
  
          .content-title {
            font-size: 18px;
          }
  
          .content-subtitle {
            font-size: 15px;
          }
        }
  
        .checked-container {
          .content-price {
            font-size: 15px;
            right: 90px;
          }
        }
      }
    }
  }
  
  @media (min-width: 768px) {
    .footer {
        width: 100%;
        height: 114px;
    
        &__content {
          width: 100%;
          height: 70px;
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          justify-content: flex-start;
          padding: 40px 30px 0 0;
          box-sizing: border-box;
          position: absolute;
          top: 20px;
        }
    
        .footer-logo h3 {
          padding: 0;
          font-size: 18px;
        }
    
        &__list {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
    
          a {
            color: white;
          }
    
          li {
            margin-right: 10px;
            padding: 0;
          }
    
          .mentions {
            margin-left: 10px;
            font-weight: 400;
          }
    
          .contact {
            margin-right: 10px;
            font-weight: 400;
          }
        }
      }
    }
    
    @media (min-width: 1065px) {
        .footer {
            width: 100%;
            height: 114px;
            position: relative;
        
            &__content {
              width: 100%;
              height: 70px;
              display: flex;
              flex-direction: row-reverse;
              align-items: center;
              justify-content: flex-start;
              padding: 40px 70px 0 0;
              box-sizing: border-box;
              position: absolute;
              top: 20px;
            }
        
            .footer-logo h3 {
              padding: 0;
              font-size: 18px;
            }
        
            &__list {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0;
        
              a {
                color: white;
              }
        
              li {
                margin-right: 20px;
                padding: 0;
              }
        
              .mentions {
                margin-left: 30px;
                font-weight: 400;
              }
        
              .contact {
                margin-right: 60px;
                font-weight: 400;
              }
            }
          }
        }
        