* {
  font-family: "Roboto", sans-serif;
  margin: 0px; /*delets margins on the right and on the left*/
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image-container {
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 0 0 0;
  margin: 0px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  position: relative;
  /*z-index: 2;*/
}
.image-container img {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
}

.location {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(234, 234, 234);
  position: relative;
  box-sizing: border-box;
}
.location__content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.location .fa-location-dot {
  font-size: small;
  margin-right: 15px;
  color: #353535;
}
.location__name {
  width: 55%;
  border: none;
  outline: none;
  color: #353535;
  font-size: 16px;
  font-weight: 500;
  background: none;
  padding: 0;
}

.headline {
  width: 100%;
  display: flex;
  padding: 30px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: #f6f6f6;
  text-align: center;
}
.headline__title {
  font-size: 24px;
  font-weight: 700;
}
.headline__subtitle {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 300;
}
.headline a {
  text-decoration: none;
  cursor: pointer;
}
.headline__title--space, .headline__subtitle--space {
  display: block;
}
.headline .explore-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 25px;
  margin-top: 20px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(-10deg, #9356dc -11.44%, #ff79da 123.93%);
  transition: box-shadow 0.8s ease, background 0.8s ease;
}
.headline .explore-button::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 25px;
  position: absolute;
  opacity: 0;
  box-sizing: border-box;
  z-index: 999;
  background: rgba(255, 255, 255, 0.15);
  transition: 0.8s ease;
}
.headline .explore-button:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  background: linear-gradient(-10deg, #9356dc -5.2%, #ff79da 110.74%);
}
.headline .explore-button:hover::before {
  opacity: 1;
  background: rgba(255, 255, 255, 0.15);
}

.functioning {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.functioning__title {
  font-size: 24px;
  font-weight: 700;
  padding: 40px 0px 30px 10px;
}
.functioning__steps {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.functioning__steps p {
  font-size: 16px;
  font-weight: 500;
  right: 10px;
}
.functioning #store-icon {
  color: #9356dc;
}
.functioning .functioning__steps i {
  color: #7e7e7e;
  padding-right: 15px;
  padding-left: 30px;
}
.functioning__first-step, .functioning__second-step, .functioning__third-step {
  width: calc(100% - 52px);
  height: 72px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  background: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
.functioning .functioning__first-step::before {
  content: "1";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  color: white;
  background: #9356dc;
  border: 1px solid #9356dc;
  font-size: 14px;
  font-weight: 500;
  border-radius: 50%;
  box-sizing: border-box;
  left: -15px;
}
.functioning .functioning__second-step::before {
  content: "2";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  color: white;
  background: #9356dc;
  border: 1px solid #9356dc;
  font-size: 14px;
  font-weight: 500;
  border-radius: 50%;
  box-sizing: border-box;
  left: -15px;
}
.functioning .functioning__third-step::before {
  content: "3";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  color: white;
  background: #9356dc;
  border: 1px solid #9356dc;
  font-size: 14px;
  font-weight: 500;
  border-radius: 50%;
  box-sizing: border-box;
  left: -15px;
}

.restaurants {
  background: #f6f6f6;
  width: 100%;
  margin: 50px 0px 0px 0px;
  padding-bottom: 60px;
}
.restaurants__title {
  font-size: 24px;
  font-weight: 700;
  padding: 50px 0px 10px 20px;
}

.restaurants__cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}
.restaurants__cards .card {
  width: 90%;
  height: 280px;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 15px;
  box-sizing: border-box;
  margin: 10px 0px 10px 0px;
  position: relative;
}
.restaurants__cards .card__link {
  text-decoration: none;
}
.restaurants__cards .card .tag {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  width: 80px;
  height: 29px;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 14px;
  font-weight: 500;
  background: #99e2d0;
  color: #008766;
}
.restaurants__cards .card .img-container {
  overflow: hidden;
}
.restaurants__cards .card .card-content {
  display: flex;
  flex-direction: row;
}
.restaurants__cards .card .card-content .card-txt {
  padding: 15px;
  position: relative;
  color: black;
}
.restaurants__cards .card .card-content .card-txt__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}
.restaurants__cards .card .card-content .card-txt__subtitle {
  font-size: 17px;
  font-weight: 300;
}
.restaurants__cards .card .card-content .card-like img {
  width: 22px;
  height: 21px;
  display: flex;
  align-items: center;
  position: absolute;
  color: black;
  right: 30px;
  bottom: 30px;
  font-size: larger;
}
.restaurants__cards .card .card-like {
  width: 23px;
  height: 21px;
  display: flex;
  align-items: center;
  position: absolute;
  color: black;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
}
.restaurants__cards .card .card-like path {
  fill: transparent;
  stroke-width: 2px;
  stroke: black;
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}
.restaurants__cards .card .hidden-checkbox {
  display: none;
}
.restaurants__cards .card .hidden-checkbox:checked + .card-like path {
  fill: url(#like-gradient);
  stroke: url(#like-gradient);
}
.restaurants__cards .card #heartCheckbox-2:checked + .card-like path {
  fill: url(#like-gradient-2);
  stroke: url(#like-gradient-2);
}
.restaurants__cards .card #heartCheckbox-3:checked + .card-like path {
  fill: url(#like-gradient-3);
  stroke: url(#like-gradient-3);
}
.restaurants__cards .card #heartCheckbox-4:checked + .card-like path {
  fill: url(#like-gradient-4);
  stroke: url(#like-gradient-4);
}
.restaurants__cards .img-container img {
  width: 100%;
  height: 200px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  object-fit: cover;
  box-sizing: border-box;
  object-position: 20% 60%;
}

.footer {
  background: #353535;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer__list {
  text-decoration: none;
  list-style: none;
  padding: 0px 0px 20px 20px;
  font-size: 16px;
  font-weight: 500;
}
.footer__list li {
  padding-bottom: 10px;
}
.footer__list .fa-utensils {
  margin-right: 10px;
  font-size: x-small;
}
.footer__list .fa-handshake-angle {
  margin-right: 9px;
  font-size: xx-small;
}
.footer .mentions,
.footer .contact li {
  text-decoration: none;
  color: white;
  font-weight: 400;
}
.footer .footer-logo h3 {
  font-size: 22px;
  font-weight: 400;
  font-family: "Shrikhand";
  color: white;
  padding: 20px;
}

@media (min-width: 765px) {
  .functioning {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
  }
  .functioning__title {
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding: 40px 0 30px 2%;
  }
  .functioning__steps {
    display: flex;
    flex-direction: row;
  }
  .functioning .functioning__steps i {
    color: #7e7e7e;
    padding-right: 10px;
    padding-left: 15px;
    font-size: small;
  }
  .functioning__first-step, .functioning__second-step, .functioning__third-step {
    width: 30%;
    height: 73px;
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    box-sizing: border-box;
  }
}
@media (min-width: 1065px) {
  .headline__title {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .headline__title--space, .headline__subtitle--space {
    display: inline;
  }
  .headline .explore-button {
    width: 218px;
    height: 50px;
    margin-top: 30px;
  }
  .functioning {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
  }
  .functioning__title {
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding: 40px 0 30px 10%;
  }
  .functioning__steps {
    display: flex;
    flex-direction: row;
  }
  .functioning .functioning__steps i {
    color: #7e7e7e;
    padding-right: 15px;
    padding-left: 30px;
    font-size: large;
  }
  .functioning__first-step, .functioning__second-step, .functioning__third-step {
    width: calc(26.6666666667% - 30px);
    height: 73px;
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    box-sizing: border-box;
  }
  .restaurants {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .restaurants__title {
    margin: 0;
    padding: 40px 0 30px 130px;
  }
  .restaurants__cards {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    box-sizing: border-box;
  }
  .restaurants__cards .card {
    width: calc(40% - 20px);
    box-sizing: border-box;
    margin: 0 40px 20px;
  }
  .footer {
    width: 100%;
    height: 114px;
  }
  .footer__content {
    width: 90%;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    padding: 50px 30px 0 0;
  }
  .footer .footer-logo h3 {
    padding: 0;
    font-size: 18px;
  }
  .footer__list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .footer__list a {
    color: white;
  }
  .footer__list li {
    margin-right: 20px;
    padding: 0;
  }
  .footer__list .mentions {
    margin-left: 30px;
    font-weight: 400;
  }
  .footer__list .contact {
    margin-right: 60px;
    font-weight: 400;
  }
}

/*# sourceMappingURL=all.css.map */
