

@import "../utils/variables";

@import "../base/base";




// sass ./assets/scss/pages/home.scss ./assets/css/home.css --watch
// sass ./assets/scss/pages/home.scss ./assets/css/home.min.css --watch --style compressed