@import '../utils/variables';

@import '../base/base';

@import '../components/button';

@import '../layouts/footer';



// sass ./assets/scss/pages/restaurants.scss ./assets/restaurants.css --watch

.image-container {
    width: 100%;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 0 0 0;
    margin: 0px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    position: relative;
    /*z-index: 2;*/
    

    img {
        width: 100%;
        height: 30px;
        box-sizing: border-box;
    }
}