@import "../utils/variables";

.header {
  width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 1.3s ease-in-out forwards;
  animation-delay: 1.3s;

  &__arrow {
    position: absolute;
    left: 5px;
  }

  &__arrow {
    padding-left: 15px;
    font-size: large;
    color: $icon-color-dark;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    animation: fadeIn 1.5s ease-in-out forwards;
    animation-delay: 1.3s;

    .fa-arrow-left {
      color: #353535;
    }

    img {
      width: 100%;
      height: 30px;
      box-sizing: border-box;
    }
  }
}

@media (min-width: 368px) {
  .header {
    &__arrow {
      padding-left: 25px;
    }
  }
}

@media (min-width: 768px) {
  .header {
    width: 100%;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__arrow {
      position: absolute;
      left: 30px;
    }
  }

  .image-container {
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    object-fit: cover;
    box-sizing: border-box;

    .fa-arrow-left {
      color: #353535;
    }

    img {
      width: 100%;
      height: 34px;
      box-sizing: border-box;
    }
  }
}

@media (min-width: 1065px) {
  .header {
    width: 100%;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__arrow {
      position: absolute;
      left: 30px;
    }
  }

  .image-container {
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    object-fit: cover;
    box-sizing: border-box;

    .fa-arrow-left {
      color: #353535;
    }

    img {
      width: 100%;
      height: 34px;
      box-sizing: border-box;
    }
  }
}
